@import "tailwindcss";

@theme {
  --color-primary: #fbfafb;
  --color-secondary: #fffefe;
  --color-accent: #232322;
  --color-birupesat: #2f2575;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

/* * {
  color: #101010;
} */

.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #101010;
}
